h1{
    font-family: "Comic Sans MS";
    color:#006600;

}
body{
    font-family:"Comic Sans MS";
}
a{
	text-decoration: none;
	color:#080807;
}

#nav{
    color:#006600;
    height: 400px;
    width:  400px;
    padding: 50px;
    font-size: large;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#nav ul{
    /*color:#006600;*/
    text-decoration-color: #006600;
	list-style-type: none;
	padding: 0;
	border:5px solid #e69900;
    margin:50px  auto;
    text-align: center;
    background-color: rgb(235, 242, 245);  
    background-image: url("wb.jpg");
    background-size: 10px;
}
.nav li{
    display: inline-block;
}

#nav li h2:hover,a:hover{
	background-color:#006600;;
}



/*How to Play*/
/*
drawer = htp
drawer__name = htpDrawer
drawer__content = htpContent
drawer__arrow = htpArrow


*/


body{
	font-family:Comic Sans MS;
	
}


.drawer {
  position: relative;
  box-sizing: border-box;
  width: 300px;
}
.drawer input {
  width: 100%;
  height: 60px;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 3;
  cursor: pointer;
}
.drawer__name {
  display: flex;
  justify-content: space-between;
  text-align:center;
  border: 1px solid black;
  padding: 10px;
 
}
.drawer__content {
  border: 1px solid black;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
  list-style: none;
  transition: padding 0.2s;
}
.drawer input:checked ~ .drawer__content {
  height: 100%;
  opacity: 1;
  pointer-events: initial;
  padding: 10px 0;
}
.drawer__arrow {
  font-weight: 900;
  font-size: 1.2rem;
  transition: transform 0.2s;
}
.drawer input:checked ~ .drawer__name > .drawer__arrow {
  transform: rotateZ(90deg);
}
.drawer__content li {
  padding: 10px;
  cursor: pointer;
}
.drawer__content li:hover {
  color: #e69900;
  text-decoration: underline;
}

